
@{
    Layout = "_Layout";
    ViewData["Title"] = "Form page";
}

<form id="form">
    <label for="car">Favorite Car</label>
    <input id="car" type="text"/>
    <br>

    <label for="game">Favorite Game</label>
    <input id="game" type="text"/>
    <br>

    <label for="holiday">Favorite Holiday</label>
    <input id="holiday" type="text"/>
    <br>
</form>
