@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    in HomeController right click index to add a view for a webpage 
*@
@*{ this can be used however since we have in the viewstart we can leave out what is below
    Layout = "_Layout";
}
*@

<!--the index.cshtml is inheriting from _Layout.cshtml and will show any html written through both. it is also due to the viewstart.cshtml-->
<p>This the home page</p>