h1{
    text-align: center;
}

form{
    margin: 1em;
}

form > label{
    margin: .5em;
    font-size: .8em;
    font-weight: 900;
    text-shadow: 1px 2px 1px cadetblue;
    color: purple;
}

form > input{
    margin: .5em;
}
